* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.ant-card-meta-description {
  font-size: 12px;
}
.cover-card {
  margin-top: 15px;
}

.ant-statistic-title {
  font-size: 12px;
}
.stats-container {
  margin-left: 30px;
}
.ant-card-meta {
  margin: 10px 0;
}
.row-img {
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.info-logo {
  margin-right: 8px;
}
.tagsTitle {
  margin-bottom: 10px;
}
.ant-card-meta-avatar {
  padding-right: 7px;
}
.cover-avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-wrapper {
  list-style: none;
  display: flex;
  margin: 0;
}
.logo-wrapper li {
  display: inline-block;
  margin-left: -10px;
}
.user-pic {
  width: 22px;
}
.ant-statistic-content-value {
  font-size: 20px;
}
.logo {
  padding: 30px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-text {
  color: white;
  font-size: 20px;
  margin-left: 5px;
}
.logo img {
  width: 40px;
}
.profile-picture {
  width: 70px;
}
.ant-card-body {
  padding: 10px 24px;
}
.ant-tag {
  font-size: 10px;
}
.site-tag-plus {
  margin-top: 10px;
}

em {
  margin-left: 10px;
  font-style: normal;
}
.antd-pro-pages-account-center-components-article-list-content-index-extra {
  margin-top: 20px;
}
.profile-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}
